
header{
    text-align: center;
    background-color: rgb(86, 37, 146);
    color: snow;
    font-family: cursive;
    padding-top: 1rem;
    padding-bottom: 1rem;
   
}
#contact,footer{
    text-align: center;
    padding: auto;
    background-color: rgb(220, 236, 250);
}

header a{
    color: rgb(230, 230, 228);
    text-decoration: none;
    padding-right: 1rem;
    
}
button{
    padding-left: 1rem;
    
    padding-right: 1rem;
    
}
h1{
    color: blueviolet;
}
form{
    padding-bottom: 4rem;
}
